<li><b><%= wpostcomment.commenter %> </b>
<%= wpostcomment.content %> 
<% if (wpostcomment.commenter == current_user.name) || (wpostcomment.wallpost.poster == current_user.id) || (@user.id == current_user.id)  %>
  <%= link_to 'Delete', [@user, wpostcomment.wallpost, wpostcomment],
                                                      method: :delete,
                                                      data: { confirm: 'Are you sure?' } %> </li>
<% end %>